[submodule "MLX42"]
	path = MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "gnl"]
	path = gnl
	url = git@vogsphere-v2.codam.nl:vogsphere/intra-uuid-f19a5886-2cbb-4115-88ec-39ee30e73b41-5313833-vshkonda
